@import 'public/assets/styles/utils/vars.module.scss';

.form {
    position: relative;
    width: 100%;
    display: flex;
    margin: 40px auto;
    border-radius: 10px;
    padding: 30px 50px;
    flex-direction: column;
    background: $color_basic_black;
    color: $color_basic_white;
}

.inputBlock {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 30px;
}

.input {
    height: 50px;
    width: 100%;
}

.button {
    background: $color_light_red;
    text-align: center;
    font-size: 24px;
    padding: 10px 30px;
}