@import "public/assets/styles/utils/vars.module.scss";

.wrapper {
  background-color: $color_background_white;
  background-image: url("https://www.transparenttextures.com/patterns/circles.png");
}

.main {
  margin: 0 auto;
  position: relative;
  height: 100%;
  background-color: $color_background_white;
  max-width: 1500px + 2 * $grid_gutter;
}
