@import "public/assets/styles/utils/vars.module.scss";

.wrapper {
    height: 100%;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

.button {
    position: fixed;
    bottom: 80px;
    right: 80px;
}