@import "public/assets/styles/utils/vars.module.scss";

.customBtn {
  padding: 20px 35px 20px 35px;
  font-size: 18px;
  background-color: $color_basic_black;
  color: $color_white;
  border: none;
  border-radius: 25px;
  font-weight: bolder;
  cursor: pointer;

  &:hover {
    background-color: $color_light_red;
  }
}
