@import 'public/assets/styles/utils/vars.module.scss';

.header {
  height: 80px;
  width: 100%;
  display: flex;
  background-color: $color_basic_black;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo {
  height: 70%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: $color_white;
}

.categories {
  display: flex;
  align-items: center;
  list-style: none;
}

.category {
  padding: 10px 15px;
  font-size: large;
  color: $color_white;
  text-decoration: none;
}

a.active, .category:hover, .category:active {
  color: $color_light_red;
}
