@import "public/assets/styles/utils/vars.module.scss";

.header {
  position: sticky;
  top: 0;
  height: $height_header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  z-index: $zIndex_header;
  background-color: $color_basic_black;
  color: $color_white;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.accountContainer {
  display: flex;
  align-items: center;
  padding-right: 30px;

  h1 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
  }
}

.logo {
  height: 70%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: $color_white;
}

.accountLabel {
  color: $color_white;
  font-size: 24px;
  font-weight: 400;
}

.categories {
  display: flex;
  align-items: center;
  list-style: none;
}

.category {
  padding: 10px 15px;
  font-size: large;
  color: $color_white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.logOut {
  padding: 10px 15px;
  font-size: large;
  color: $color_white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

a.active,
.category:hover,
.category:active {
  color: $color_light_red;
}

a.active,
.logOut:hover,
.logOut:active {
  color: $color_light_red;
}
