@import "public/assets/styles/utils/vars.module.scss";

.wrapper {
  height: 100%;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
