/* 
Colors
*/
$color_white: #fff;
$color_black: #000;
$color_basic_black: rgb(26, 26, 26);
$color_basic_white: rgb(241, 241, 241);
$color_background_white: rgb(223, 223, 223);
$color_dark_green: #255d5d;
$color_light_red: #ed5858;

/*
gutters
*/
$grid_gutter: 25px;

/*
Z-indexes
*/
$zIndex_header: 1000;
